.updateProduct .header-section{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

    .updateProduct .chai-logo{
        width: 250px;

        object-fit: cover;
        object-position: center;

        margin-left: 70px;
    }

    .updateProduct .option-section{
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: center;

        width: 500px;
        padding: 0px 60px 0px 60px;
    }

        .updateProduct .option-section button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            color: #9E841E;
            background-color: white;

            border: 2px solid #9E841E;
            border-radius: 10px;

            padding: 5px 10px 5px 10px;
            transition: 0.2s ease;
            cursor: pointer;
        }

        .updateProduct .option-section button:hover {
            background-color: #ebe3c4;
        }

        .updateProduct .option-section img{
            width: 22px;
            margin-right: 8px;
        }